.tutors {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 90px;
}

.tutors__container {
  width: 100%;
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tutors__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.tutors__title {
  font-size: 38px;
  font-weight: 700;
  color: var(--primary-dark-color);
  margin-bottom: 10px;
  line-height: 45.6px;
  font-family: 'Poppins', sans-serif;
  .dot {
    color: #3e5496;
  }
}

.tutors__description {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 28.5px;
  font-family: "Open Sans", sans-serif;
  color: var(--paragraph-color);
}

.tutors__carousel-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.tutors__carousel {
  display: flex;
  gap: 1rem;
  width: calc(100% + 1rem);
  overflow: hidden;
  scroll-snap-type: x mandatory;
  transition: transform 0.3s ease;
}

.tutor-card {
  flex: 0 0 auto;
  width: calc(100% - 1rem);
  box-sizing: border-box;
  padding: 0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tutor-card img {
  width: 100%;
  max-height: 320px;
  height: auto;
  object-fit: cover;
}

.tutor-card__name {
  margin: 10px 0;
  font-size: 22px;
  color: #393b42;
  font-weight: 600;
}

.tutor-card__role {
  margin: 10px 0;
  font-size: 14px;
  color: #3e5496;
  font-weight: 700;
}

.tutor-card__description {
  margin: 10px 0;
  font-size: 17px;
  color: #858585;
  font-weight: 400;
}

.tutors__carousel-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

.tutors__carousel-controls button {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  color: var(--white);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) and (max-width: 990px) {
  .tutors__carousel {
    width: calc(50% * 2 + 0.5rem);
  }

  .tutor-card {
    width: calc(50% - 0.25rem);
    min-height: 400px;
  }
}

/* Desktop view (>= 991px) */
@media (min-width: 991px) {
  .tutors__carousel {
    width: calc(33.33% * 3 + 2rem);
  }

  .tutor-card {
    width: calc(33.33% - 0.67rem);
    min-height: 400px;
  }
}
