.tutors {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 90px;
}

.tutors__container {
  width: 100%;
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tutors__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.tutors__title {
  font-size: 38px;
  font-weight: 700;
  color: var(--primary-dark-color);
  margin-bottom: 10px;
  line-height: 45.6px;
  font-family: 'Poppins', sans-serif;
}

.tutors__description {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 28.5px;
  font-family: "Open Sans", sans-serif;
  color: var(--paragraph-color);
}

.tutors__carousel-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.tutors__carousel {
  display: flex;
  gap: 1rem;
  width: calc(100% + 1rem);
  overflow: hidden;
  scroll-snap-type: x mandatory;
  transition: transform 0.3s ease;
}

.tutor-card {
  flex: 0 0 auto;
  width: calc(100% / 2 - 0.5rem);
  box-sizing: border-box;
  padding: 0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tutor-card img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure images cover the area */
}

.tutor-card__name,
.tutor-card__role,
.tutor-card__description {
  margin: 10px 0; /* Space between text elements */
}

.tutors__carousel-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tutors__carousel-controls button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: var(--white);
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}

@media (min-width: 768px) and (max-width: 990px) {
  .tutors__carousel {
    width: calc(50% * 2 + 1rem); /* Show 2 cards with gap */
  }

  .tutor-card {
    width: calc(50% - 0.5rem); /* 50% width minus margin */
    min-height: 400px; /* Ensures minimum height */
  }
}

/* Desktop view (>= 991px) */
@media (min-width: 991px) {
  .tutors__carousel {
    width: calc(33.33% * 3 + 2rem); /* Show 3 cards with gaps */
  }

  .tutor-card {
    width: calc(33.33% - 0.67rem); /* 33.33% width minus margin */
    min-height: 400px; /* Ensures minimum height */
  }
}