.fixed__price-section{
    padding: 90px 0;
}
.no-marker{
    list-style-type: none;
}

.checkmark__icons {
    width: 20px;
}

.custom-btn {
    width: 150px;
    height: 50px;
    color: var(--white);
    border-radius: 5px;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    margin-top: auto;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    text-align: center;
    line-height: 50px;
}

.page-link {
    background-color: var(--brand-color);
    background-image: linear-gradient(315deg, var(--brand-color) 0%, var(--btn-bg-gradient) 74%);
    border: none;
}

.page-link:hover {
    background-color: var(--btn-hover-color);
    background-image: linear-gradient(315deg, var(--btn-hover-color) 0%, var(--btn-hover-gradient) 74%);
}

.page-link:before,
.page-link:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .9),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .9),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
}

.page-link:before {
    height: 0%;
    width: .1px;
}

.page-link:after {
    width: 0%;
    height: .1px;
}

.page-link:hover:before {
    height: 100%;
}

.page-link:hover:after {
    width: 100%;
}

