.footer {
    background-color: var(--brand-color);
    color: white;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 100px;
    padding-bottom: 30px;
}

.footer__container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__contact{
    color: #CBCBCB;
    width: 80%;
}

.footer__contacts-block{
    background:rgba(255, 255, 255, 0.02);
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 300px;
}

.footer__first-segment{
    display: flex;
}

.footer__contacts-email,
.footer__contacts-address,
.footer__contacts-hours,
.footer__useful-links-link,
.footer__quick-links-link{
    color: #CDCDCD;
}


.footer__ready-to-study-hard,
.footer__contacts-block {
    width: 48%;
    margin: 0; 
    flex: 0 0 48%; 
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__title {
    font-size: 2.5em;
    margin-bottom: 10px;
    word-break: break-word; 
    hyphens: auto;
}

.footer__title--highlight {
    color: var(--accent-color);
}

.footer__description {
    margin-bottom: 20px;
}

.footer__language-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    flex: 1;
    flex-wrap: wrap;
}

.footer__language-item {
    display: flex;
    align-items: center;
}

.footer__language-flag {
    margin-right: 5px;
    width: 25px;
}

.footer__language-link {
    color: white;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.footer__phone {
    font-size: 1.2em;
    margin-top: 20px;
}

.footer__phone-link {
    color: var(--accent-color);
    text-decoration: none;
}

.footer__contacts-block,
.footer__social-media,
.footer__useful-links,
.footer__quick-links,
.footer__newsletter {
    flex: 1;
    min-width: 200px;
    margin-bottom: 30px;
}

.footer__social-media-icon{
    width: 20px;
}

.footer__contacts-title,
.footer__useful-links-title,
.footer__quick-links-title,
.footer__newsletter-title {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.footer__contacts-list,
.footer__useful-links-list,
.footer__quick-links-list {
    list-style-type: none;
    padding: 0;
}

.footer__contacts-item,
.footer__useful-links-item,
.footer__quick-links-item {
    margin-bottom: 10px;
}

.footer__contacts-email,
.footer__useful-links-link,
.footer__quick-links-link {
    color: white;
    text-decoration: none;
}

.footer__logo {
    margin-bottom: 15px;
    width: 200px;
}

.footer__social-media-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.footer__newsletter-underline {
    width: 50px;
    height: 2px;
    background-color: var(--accent-color);
    margin-bottom: 15px;
}

.footer__newsletter-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.footer__newsletter__button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.footer__created-by {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
}

@media (max-width: 800px) {

    .footer__container {
        align-items: center;
        flex-direction: column; 
        align-items: stretch; 
        text-align: center;
        justify-content: center;
    }
    .footer__nav {
        flex-direction: column;
    }

    .footer__newsletter-underline {
        margin: 0 auto 15px auto; 
    }
    
    .footer__social-media-list {
        justify-content: center; /
    }
    
    .footer__logo {
        display: block;
        margin: 0 auto 15px auto; 
    }

    .footer__contact {
        text-align: center; 
        margin: 0 auto; 
        width: 100%; 
    }
    
    .footer__language-list {
        justify-content: center; 
        padding: 0;
        display: flex;
        gap: 15px;
        margin: 0 auto 20px auto; 
        flex-wrap: wrap;
        width: fit-content; 
    }
    
    
    .footer__contacts-block,
    .footer__social-media,
    .footer__useful-links,
    .footer__quick-links,
    .footer__newsletter {
        width: 100%;
    }

    .footer__ready-to-study-hard,
    .footer__contacts-block {
      width: 100%; 
      margin-bottom: 20px; 
    }
}
