@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    --white: #ffffff;
    --brand-color: #3e5496;
    --accent-color: #00c5b5;
    --base-text-color: #858585;
    --dark-shade-color: #81838b;
    --primary-dark-color: #393b42;
    --light-border-color: #e6e6e7;
}

h1 {
    font-size: 54px;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

h4 {
    font-size: 18px;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 24px;
}

@media (min-width: 768px) {
    .container {
        padding: 0 32px;
    }
    h1 {
        font-size: 54px;
    }
    h2 {
        font-size: 44px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 19px;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 0 40px;
    }
    h1 {
        font-size: 68px;
    }   
    h2 {
        font-size: 50px;
    }
    h3 {
        font-size: 26px;
    }
    h4 {
        font-size: 21px;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: 0 15px;
    }
    
}