.services {
    padding-top: 110px;
    padding-bottom: 120px;
    background: #f8f8f8;
  }
  
  .services__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .services__container h2 {
    color: #393b42;
  }
  
  .services__container h2 span {
    color: #00c5b5;
  }
  
  .services__container p {
    color: #80838b;
  }
  
  .services__container-elements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
  }
  
  .services__container-white {
    width: 360px;
    background: #fff;
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .services__image-container--one {
    width: 70px;
    height: 70px;
    background-color: #e6e5ff;
    border-radius: 50%;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .services__image-container--two {
    width: 70px;
    height: 70px;
    background-color: #fff4df;
    border-radius: 50%;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .services__image-container--three {
    width: 70px;
    height: 70px;
    background-color: #dff4ff;
    border-radius: 50%;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .services__image {
    width: 50%;
  }
  
  .services__container-white h3 {
    font-size: 21px;
    color: #393b42;
  }
  
  .services__container-white p {
    font-size: 17px;
    color: #858585;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
  }
  
  .services__container-white a {
    color: #00c5b5;
  }
  