@import "global.css";

.blog {
    position: relative;
}

.blog__container {
    padding-top: 90px;
    padding-bottom: 90px;
}

.blog__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.blog__title {
    font-size: 38px;
    color: #393B42;
    font-family: 'Poppins', sans-serif;
    .dot {
        color: #3e5496;
    }
}

.blog__description {
    margin: 25px;
    color: rgb(128, 131, 139);
    font-size: 19px;
}


.blog__news {
    margin: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blog__news-item {
    width: 383px;
    height: 617px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
}

.news__image {
    height: 240px;
}

.news__information-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: flex-start;
}

.news__tag {
    padding-right: 10px;
}

.news__information-caption {
    display: block;
    position: relative;
    width: 1px;
    align-self: stretch;
}

.news__information-title {
    margin-top: 15px;
}

.news__information-description {
    margin-top: 25px;
}

.news__btn {
    margin-top: 45px;
}