.help {
    display: flex;
    flex-direction: column;
}

.help__container {
    padding: 90px 30px;
    background-color: var(--brand-color);
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.help__header {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.help__title {
    margin-bottom: 25px;
    font-size: 38px;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 45.6px;
    .dot {
        color: var(--accent-color);
    }
}

.help__description {
    margin-bottom: 25px;
    font-size: 19px;
    color: var(--white);
    font-weight: 600;
}

.help_content {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.help__text {
    margin-bottom: 25px;
    font-size: 17px;
    color: var(--light-border-color);
    font-weight: 400;
}

.help__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid var(--accent-color);
    width: 186.016px;
    text-align: center;
    height: 53.02px;
}

.help__link {
    display: block;
    font-size: 14.3px;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
    max-width: 100%;
}

.help__link:hover {
    text-decoration: underline;
}

.help__img {
    object-fit: cover;
    object-position: center;
}

@media (min-width: 768px)  {
    .help {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .help__container {
        width: 50%;
    }
    
    .help__title {
        font-size: 44px;
    }

    .help__image {
        width: 50%;
    }

    .help__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 85% center;
    }
}

@media (min-width: 1024px) {
    .help__title {
        font-size: 50px;
    }
}