.translation-interpreting {
    padding: 0;
    margin: 0;
    width: 100%;
}

.translation-interpreting-header {
    text-align: center;
    background-color: var(--brand-color);
    padding: 50px 0 60px 0;
    box-sizing: border-box;
    
}

.translation-interpreting-title {
    font-family: "Poppins", sans-serif;
    font-size: 38px;
    color: var(--white);
    margin: 0;
    font-weight: 700;
    box-sizing: border-box;
    padding-left: 10px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.translation-interpreting-breadcrumb {
    color: var(--white);
    font-size: 14px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    white-space: normal;
}

.translation-interpreting-breadcrumb-page {
    color: var(--accent-color);
    font-size: 14px;
}

.translation-interpreting-body {
    padding: 90px 0 60px 0;
}

.translation-interpreting-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.translation-interpreting-image { 
    padding: 90px 15px 0 15px;
}

.translation-interpreting-icon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
    margin-top: 20px;
    padding-left: 25px;
    font-size: 17px;
}

.translation-interpreting-icon-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    white-space: normal;
}

.translation-interpreting-icon {
    height: 24px;
    width: 20px;
    margin-right: 10px;
}

.translation-interpreting-icon-text {
    font-size: 17px;
    color: var(--dark-shade-color);
}

.translation-interpreting-text {
    margin: 20px auto;
}

.translation-interpreting-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
}

.translation-interpreting-column {
    flex: 1;
    max-width: 600px;
    padding: 10px;
    width: 100%;
    color: var(--base-text-color);
    margin-left: 13px;
    
}

.translation-interpreting-paragraph {
    font-size: 17px;
    line-height: 1.6;
    font-weight: 350;
}

@media (min-width: 768px) {
    .translation-interpreting-title{
        font-size: 44px;
    }
    .translation-interpreting-grid {
        flex-direction: row;
    }

    .translation-interpreting-column {
        max-width: 421px;
    }
}
@media (min-width: 992px){
    .translation-interpreting-title{
        font-size: 50px;
    }
}
@media (min-width: 1200px) {
    .translation-interpreting-icon-list{
        justify-content: center;
    }
    .translation-interpreting-grid {
        gap: 0;
    }
    .translation-interpreting-column {
        flex: 1;
        max-width: 600px;
        padding: 10px;
        width: 150%;
        color: var(--base-text-color);
        margin-left: 13px;
    }
    .translation-interpreting-paragraph {
        font-size: 16px;
    }
}