.translation-pricing {
    margin-top: 60px;
    margin-bottom: 60px;
    .section__title-wrapper {
        text-align: center;
        .title {
            color: var(--primary-dark-color);
            margin-bottom: 30px;
            .period-sign {
                color: var(--accent-color);
            }
        }
        .subtitle {
            color: var(--dark-shade-color);
            font-size: 19px;
        }
    }
    .tabs-wrapper {
        margin-top: 50px;
        .tabs__labels {
            display: flex;
            justify-content: flex-start;
            border-bottom: 1px solid var(--light-border-color);
            margin-bottom: 30px;
            overflow-y: visible;
            overflow-x: auto;
            white-space: nowrap;
            scroll-behavior: smooth;
            .tab__label {
                padding: 15px 20px;
                display: flex;
                align-items: center;
                gap: 16px;
                font-size: 17px;
                font-weight: 400;
                color: var(--primary-dark-color);
                &.tab__label--active {
                    border-bottom: 2px solid var(--accent-color);
                }
                &.tab__label--disable {
                    opacity: 0.5;
                    &.tab__label--disable:hover {
                        opacity: 1;
                    }
                }
                .tab__img {
                    width: 25px;
                }            
            }
        }
        .tabs__content {
            .tab__content {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(6, 1fr);
                row-gap: 15px;
                &.hidden {
                    display: none;
                }
                .service__item {
                    .price-wrapper {
                        display: flex;
                        justify-content: space-between;
                        align-items: end;
                        .item__title {
                            color: var(--primary-dark-color);
                        }
                        .price__decoration__line {
                            height: 1px;
                            width: 100%;
                            background-color: var(--dark-shade-color);
                            opacity: 0.2;
                            flex: 1 1;
                            margin: 6px 3px;
                        }
                        .price-content {
                            color: var(--base-text-color);
                            font-size: 18px;
                            font-weight: 600;                            
                        }
                    }
                    .description {
                        color: var(--base-text-color);
                        font-weight: 300;
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

.translation-pricing .price {
    color: var(--brand-color);
    font-size: 22px;
}

@media (min-width: 768px) {
    .translation-pricing {
        margin-top: 80px;
        margin-bottom: 80px;
        .tabs-wrapper {
            .tabs__labels {
                justify-content: center;
            }
            .tabs__content {
                .tab__content {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    column-gap: 30px;
                    row-gap: 40px;                   
                }
            }
        }
        .price {
            font-size: 24px;
        } 
    }                          
}

@media (min-width: 992px) {
    .translation-pricing .price {
        font-size: 26px;
    }  
}
