.translation-pricing {
    .tabs-wrapper {
        margin-top: 50px;
        .tabs__labels {
            display: flex;
            justify-content: center;
            border-bottom: 1px solid var(--light-border-color);
            margin-bottom: 30px;
            .tab__label {
                padding: 15px 20px;
                display: flex;
                align-items: center;
                gap: 16px;
                font-size: 17px;
                font-weight: 400;
                color: var(--primary-dark-color);
                &.tab__label--active {
                    border-bottom: 2px solid var(--accent-color);
                }
                &.tab__label--disable {
                    opacity: 0.5;
                    &.tab__label--disable:hover {
                        opacity: 1;
                    }
                }
                .tab__img {
                    width: 25px;
                }            
            }
        }
        .tabs__content {
            .tab__content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                column-gap: 30px;
                row-gap: 40px;
                &.hidden {
                    display: none;
                }
                .service__item {
                    .price-wrapper {
                        display: flex;
                        justify-content: space-between;
                        align-items: end;
                        .price__decoration__line {
                            height: 1px;
                            width: 100%;
                            background-color: var(--dark-shade-color);
                            opacity: 0.2;
                            flex: 1 1;
                            margin: 6px 3px;
                        }
                        .price {
                            color: var(--brand-color);
                            font-size: 26px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}