<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css">
    <title>About Page | Language school</title>
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="css/about.css">
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.header-nav.partial.html"></nav>
        <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-page.header-hero.partial.html"></div>
    </header>
    <main>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-page.section-language-school.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-page.section-language-school-features.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-page.section-courses.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-page.section-language-journey.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-page.section-our-tutors.partial.html"></section>
    </main>
    <footer>
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></nav>
    </footer>  
  </body>
  
</html>
