<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Language school</title>
    <link rel="stylesheet" href="css/index.css">
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway&display=swap" rel="stylesheet">
 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    </head>
  <body>
    <header class="header">
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.header-nav.partial.html"></nav>
        <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header-hero.partial.html"></div>
    </header>
    <main>
        
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-language.partial.html"></section>
        
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-help-you-learn.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-services-we-provide.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-we-offer.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-testimonials.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-blog-news.partial.html"></section>
    </main>
    <footer>
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></nav>
    </footer>
  </body>
</html>
