<section class="language-section">
    <div class="languages">
        <div class="language__info">
            <h2>Languages<span>.</span></h2>
            <p>We offer classes in five languages for different levels and purposes.</p>
        </div>
        <div class="language__courses">
            <div class="language-tabs">
                <div class="ukrainian-tab">
                    <img src="img/language/flags/ukrainian-flag.svg" alt="Ukrainian Flag" width="30">
                    <span>Ukrainian</span>
                </div>
                <div class="french-tab">
                    <img src="img/language/flags/french-flag.svg" alt="French Flag" width="30">
                    <span>French</span>
                </div>
                <div class="spanish-tab">
                    <img src="img/language/flags/spanish-flag.svg" alt="Spanish Flag" width="30">
                    <span>Spanish</span>
                </div>
                <div class="chinese-tab">
                    <img src="img/language/flags/chinese-flag.svg" alt="Chinese Flag" width="30">
                    <span>Chinese</span>
                </div>
                <div class="english-tab">
                    <img src="img/language/flags/english-flag.svg" alt="English Flag" width="30">
                    <span>English</span>
                </div>
            </div>
            <div class="language__cards">
                <div data-hx-trigger="load" data-hx-swap="innerHTML"
                    data-hx-get="index.section-language.ukrainian.partial.html"></div>
                <div data-hx-trigger="load" data-hx-swap="innerHTML"
                    data-hx-get="index.section-language.french.partial.html"></div>
                <div data-hx-trigger="load" data-hx-swap="innerHTML"
                    data-hx-get="index.section-language.spanish.partial.html"></div>
                <div data-hx-trigger="load" data-hx-swap="innerHTML"
                    data-hx-get="index.section-language.chinese.partial.html"></div>
                <div data-hx-trigger="load" data-hx-swap="innerHTML"
                    data-hx-get="index.section-language.english.partial.html"></div>
            </div>
        </div>
    </div>
</section>